<div class="CreatTodoList">
    <h1>Créer une tâche</h1>
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">Titre de la tâche</label>
            <input id="title" type="text" formControlName="title">
        </div>
  
        <div>
            <label for="dueDate">Date d'échéance</label>
            <input id="dueDate" type="date" formControlName="dueDate">
        </div>
  
        <div>
            <label for="notes">Déscription</label>
            <textarea id="notes" rows="4" formControlName="notes"></textarea>
        </div>
  
        <button type="submit">Créer</button>
        <button type="button" (click)="onCancel()">Annuler</button>
    </form>
</div>