<div class="CreatTodoList">
    <h1>Créer une tâche</h1>
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">Titre de la tâche</label>
            <input id="title" type="text" formControlName="title">
            <p *ngIf="todoForm.get('title')?.invalid && todoForm.get('title')?.touched" style="color: red;">
                Please enter a title.
            </p>
        </div>
  
        <div>
            <label for="dueDate">Due Date</label>
            <input id="dueDate" type="date" formControlName="dueDate">
        </div>
  
        <div>
            <label for="notes">Description</label>
            <textarea id="notes" rows="4" formControlName="notes" maxlength="2001"></textarea>
            <p *ngIf="todoForm.get('notes')?.invalid && todoForm.get('notes')?.touched" style="color: red;">
                Notes must not exceed 2,000 characters.
            </p>
        </div>
  
        <button type="submit" [disabled]="todoForm.invalid">Create</button>
    </form>
</div>